*, *::before, *::after {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: .9375rem;
    font-weight: 400;
    line-height: 1.5;
    color: #10263B;
    text-align: left;
    background-color: #FDFBF9;
}
html, body {
    height: 100%;
}
div {
    display: block;
}
a {
    color: #516170;
    text-decoration: underline;
    background-color: transparent;
}
img {
    overflow-clip-margin: content-box;
    overflow: clip;
}
iframe {
    width: 100%;
    height: 100%;
    border: none;
}
form {
    display: block;
    margin-top: 0;
    unicode-bidi: isolate;
}
input, button, select, optgroup, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.login-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.login-container {
    background-color: #FDFBF9;
    padding: 3rem;
    box-shadow: 0 .5rem 1rem rgba(16, 38, 59, .15);
    margin-bottom: 2rem;
}
@media (min-width: 768px) {
    .login-container {
        width: 500px !important;
    }
}
.login-container, .login-logo {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}
.img-fluid {
    max-width: 100%;
    max-height: 8.125rem;
    height: auto;
}
.form-group {
    margin-bottom: 1rem;
}
.form-control{
    display: block;
    width: 100%;
    font-weight: 400;
    border: 1px solid #707D89;
    border-radius: 50px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-control-lg {
    height: calc(1.5em + 1rem + 2px);
    padding: .5rem 1rem;
    font-size: 1.171875rem;
    line-height: 1.5;
}
@media (max-width: 1200px) {
    body {
        font-size: calc(1rem + 0.05vw);
    }
}
@media (max-width: 1200px) {
    .form-control-lg {
        font-size: calc(1rem + 0.3vw);
    }
}
.btn {
    display: inline-block;
    font-weight: 400;
    color: #10263B;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: .9375rem;
    line-height: 1.5;
    border-radius: 0;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.btn-primary {
    color: #FDFBF9;
    background-color: #16417C;
    border: 2px solid #16417C;
}
.btn-lg, .btn-group-lg>.btn {
    padding: .5rem 1rem;
    font-size: 1.171875rem;
    line-height: 1.5;
    border-radius: 50px;
}
@media (max-width: 1200px) {
    .btn-lg, .btn-group-lg>.btn {
        font-size: calc(1rem + 0.3vw);
    }
}
.btn-lg:after {
    content: '';
    border: solid white;
    display: inline-block;
    padding: 4px;
    right: 15px;
    -webkit-transform: rotate(-45deg);
    position: absolute;
    top: 17px;
    /* border-color: white; */
    border-width: 0 2px 2px 0;
}
.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem;
}
.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
.navbar.fixed-top {
    padding-top: 0;
    padding-bottom: 0;
    box-shadow: none;
    border-bottom: #CFD4D8 1px solid;
    align-items: stretch;
    height: 61px;
}
.navbar-expand {
    flex-flow: row nowrap;
    justify-content: flex-start;
}
.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.navbar-expand.navbar-nav {
    flex-direction: row;
}
.usermenu {
    display: flex;
    align-items: center;
    height: 100%;
}
.logo{
    max-height: calc(60px - (0.25rem* 2));
}
.dropdown {
    display: flex;
    align-items: center;
    height: 100%;
    position: relative;
}
.dropdown .dropdown-toggle {
    padding-top: 0;
    padding-bottom: 0;
    border-radius: 0;
    display: flex;
    align-items: center;
    height: 100%;
}
.userbutton{
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: .9375rem;
    color: #10263B;
    text-align: left;
    list-style: none;
    background-color: #FDFBF9;
    background-clip: padding-box;
    border: 1px solid rgba(16, 38, 59, .15);
}
.dropdown-menu{
    min-width: 200px;
    max-height: calc(100vh - 60px);
    overflow-y: auto;
    position: absolute;
    float: none;
    width: fit-content;
    -webkit-background-clip: padding-box;
}
@media (max-width: 1200px) {
    .dropdown-menu {
        font-size: calc(0.90375rem + 0.045vw);
    }
}
.dropdown-menu-right{
    right: 0;
    left: auto;
}
.dropdown-menu.show{
    display: block;
}
.carousel-item {
    position: relative;
    display: none;
    float: left;
    width: 100%;
    margin-right: -100%;
    backface-visibility: hidden;
    transition: transform 0.6s ease-in-out;
    -webkit-backface-visibility: hidden;
}
.carousel-item.active{
    display: block;
}
.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #405162;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}
.dropdown-item {
    padding: .25rem 1.75rem .25rem .75rem;
}
.dropdown-item.inactive{
    color:gray;
}
.dropdown-item:hover{
    color: white;
    background-color: #16417C;
}
.dropdown-item.inactive:hover{
    background-color: grey;
}
.arrow-down {
    content: '';
    border: solid black;
    display: inline-block;
    padding: 3px;
    right: -0.3em;
    transform: rotate(45deg);
    position: absolute;
    /* border-color: white; */
    border-width: 0 2px 2px 0;
}
.arrow-up {
    content: '';
    border: solid black;
    display: inline-block;
    padding: 3px;
    right: -0.3em;
    transform: rotate(-135deg);
    position: absolute;
    /* border-color: white; */
    border-width: 0 2px 2px 0;
}
.align-items-center {
    align-items: center !important;
}
.display-flex {
    display: flex !important;
}
.align-items-stretch {
    align-items: stretch !important;
}
.ml-auto {
    margin-left: auto !important;
}
.alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 0 solid transparent;
}
.alert-danger, .error {
    color: #682134;
    background-color: #efced0;
    border-color: #eabdc0;
}